<p id="notice"><%= notice %></p>

<h1>Beverage Stores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Info</th>
      <th>Station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beverage_stores.each do |beverage_store| %>
      <tr>
        <td><%= beverage_store.title %></td>
        <td><%= beverage_store.info %></td>
        <td><%= beverage_store.station.title %></td>
        <td><%= link_to 'Show', beverage_store %></td>
        <td><%= link_to 'Edit', edit_beverage_store_path(beverage_store) %></td>
        <td><%= link_to 'Destroy', beverage_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beverage Store', new_beverage_store_path %>
