<div class="row">
  <div class="col-md-offset-3 col-md-6">

<p id="notice"><%= notice %></p>
<h1>Time Table</h1>



    <table class="table">
      <tbody>
          <tr>
            <td><strong>Arrival time</strong></td>
            <td>:</td>
            <td><%= @time_table.arrival_time.strftime("%I:%M%p") %></td>
          </tr>
          <tr>
            <td><strong>Departure time</strong></td>
            <td>:</td>
            <td><%= @time_table.departure_time.strftime("%I:%M%p") %></td>
          </tr>
          <tr>
            <td><strong>Station</strong></td>
            <td>:</td>
            <td><%= @time_table.station.title %></td>
          </tr>
          <tr>
            <td><strong>Train</strong></td>
            <td>:</td>
            <td><%= @time_table.train.title %></td>
          </tr>


      </tbody>
    </table>

<center>
  <%= link_to 'Edit', edit_time_table_path(@time_table) %> |
  <%= link_to 'Back', time_tables_path %>
</center>
  <div>
</div>