<div class="row">
  <div class="col-md-offset-3 col-md-6">

<p id="notice"><%= notice %></p>
<h1>Station</h1>

    <table class="table">
      <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>:</td>
            <td><%= @station.title %></td>
          </tr>
          <tr>
            <td><strong>Phone</strong></td>
            <td>:</td>
            <td><%= @station.phone %></td>
          </tr>
          <tr>
            <td><strong>Address</strong></td>
            <td>:</td>
            <td><%= @station.address %></td>
          </tr>
          <tr>
            <td><strong>Info</strong></td>
            <td>:</td>
            <td><%= @station.info %></td>
          </tr>
      </tbody>
    </table>

  <div>
</div>
<h1>Trains</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Arrival time</th>
      <th>Departure time</th>
      <th>Train</th>
    </tr>
  </thead>
  <tbody>
    <% @station.time_tables.each do |time_table| %>
      <tr>
        <td><%= time_table.arrival_time %></td>
        <td><%= time_table.departure_time %></td>
        <td><%= time_table.train.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Beverage Stores</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <% @station.beverage_stores.each do |beverage_store| %>
      <tr>
        <td><%= beverage_store.title %></td>
        <td><%= beverage_store.info %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_station_path(@station) %> |
<% end %>
<%= link_to 'Back', stations_path %>
</center>