<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @train.title %>
</p>

<p>
  <strong>Info:</strong>
  <%= @train.info %>
</p>

<h1>Stations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Arrival time</th>
      <th>Departure time</th>
      <th>Station</th>
    </tr>
  </thead>
  <tbody>
    <% @train.time_tables.each do |time_table| %>
      <tr>
        <td><%= time_table.arrival_time %></td>
        <td><%= time_table.departure_time %></td>
        <td><%= time_table.station.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
